# ignore data folder & all sub-folders
data

# ignore .vscode folder (Visual Studio code settings)
.vscode

# ignore my kaggle.json file
kaggle.json

# ignore Pycharm files
.idea

# ignore notebook checkpoints
.ipynb_checkpoints

# ignore model_states folder (saves model states)
model_states

# ignore __pycache__
__pycache__

# ignore pyc files
*.pyc

# ignore pt (checkpoint) files
*.pt

# ignore tutorial folder (for now)
tutorial

# ignore zip/tar files
*.gz
*.tar
*.zip
*.pb
*.pkl
